<nb-layout>

  <nb-layout-header fixed>
    Firebase emulator
  </nb-layout-header>

  <nb-layout-column>

    <nb-card *ngIf="fbAuth.user | async as suer; else noAuth">
      <nb-card-header>
        Hello {{suer.displayName}}
      </nb-card-header>
      <nb-card-body>

        <button (click)="clickClack()" nbButton>
          Add Button Press
        </button>

        <button (click)="deleteAll()" nbButton>
          Delete All
        </button>


        All button Presses ever

        <nb-list>

          <nb-list-item *ngFor="let click of someData | async">
            Hit: <p>{{click | json}}</p>
          </nb-list-item>
        </nb-list>

      </nb-card-body>
      <nb-card-footer>
        <button (click)="fbAuth.signOut()" nbButton>Logout</button>

      </nb-card-footer>
    </nb-card>

    <ng-template #noAuth>
      <nb-card>
        <nb-card-body>
          Please sign in to use the app
        </nb-card-body>
        <nb-card-footer>
          <button (click)="googLogin()" nbButton>Login With Google</button>

        </nb-card-footer>
      </nb-card>
    </ng-template>

  </nb-layout-column>

  <nb-layout-footer fixed>
    <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>
